<!DOCTYPE html>
<html lang="en" class="justify-center bg-devonus-black">
  <head>
    <meta charset="UTF-8" />
    <title>Devonus | Modern Web Agency Focused on Strategy & Technology</title>
    <link rel="canonical" href="{{site.url}}/blog" />
    <meta
      name="description"
      content="Devonus is a modern web agency that blends design, strategic thinking, and advanced technology to build high-performance websites and digital experiences."
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="keywords"
      content="web agency, web design, web development, digital strategy, UX design, custom websites, branding, frontend development, backend development, SEO agency, Devonus"
    />
    <meta
      property="og:title"
      content="Devonus | Modern Web Agency Focused on Strategy & Technology"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://devonus.com/" />
    <meta property="og:image" content="/public/devonus_logo.png" />
    <meta
      property="og:description"
      content="Devonus is a modern web agency that blends design, strategic thinking, and advanced technology to build high-performance websites and digital experiences."
    />
    <meta property="og:site_name" content="Devonus Web Agency" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@devonus" />
    <meta name="twitter:creator" content="@devonus" />
    <meta
      name="twitter:title"
      content="Devonus | Modern Web Agency Focused on Strategy & Technology"
    />
    <meta
      name="twitter:description"
      content="Devonus is a modern web agency that blends design, strategic thinking, and advanced technology to build high-performance websites and digital experiences."
    />
    <meta name="twitter:image" content="/public/devonus_logo.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/devonus_logo.png"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/blog.css" />

    <!-- CSRF and CSP meta tags would normally be set server-side. You can include them manually if needed -->
    <!-- <meta name="csrf-token" content="YOUR_CSRF_TOKEN_HERE">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'"> -->

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/public/devonus_logo.png" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Service",
        "serviceType": "Web Design & Development",
        "name": "Devonus Web Agency – Web Design & Digital Strategy",
        "image": "/public/devonus_logo.png",
        "description": "Custom websites and digital strategy services. From full-scale design and development to ongoing support and ecommerce solutions.",
        "provider": {
          "@type": "Organization",
          "name": "Devonus Web Agency",
          "url": "https://devonus.com"
        },
        "areaServed": {
          "@type": "Country",
          "name": "United States"
        },
        "offers": [
          {
            "@type": "Offer",
            "name": "Website Lump Sum Package",
            "price": "4000.00",
            "priceCurrency": "USD",
            "availability": "https://schema.org/InStock",
            "url": "https://devonus.com/#pricing",
            "itemOffered": {
              "@type": "Service",
              "name": "Website Design (One-Time Project)"
            }
          },
          {
            "@type": "Offer",
            "name": "Website Monthly Package",
            "price": "200.00",
            "priceCurrency": "USD",
            "availability": "https://schema.org/InStock",
            "eligibleDuration": {
              "@type": "QuantitativeValue",
              "unitCode": "MON",
              "value": "1"
            },
            "url": "https://devonus.com/#pricing",
            "itemOffered": {
              "@type": "Service",
              "name": "Ongoing Website Support"
            }
          },
          {
            "@type": "Offer",
            "name": "Ecommerce Website Package",
            "price": "8000.00",
            "priceCurrency": "USD",
            "availability": "https://schema.org/InStock",
            "url": "https://devonus.com/#pricing",
            "itemOffered": {
              "@type": "Service",
              "name": "Ecommerce Web Design (Starting Price)"
            }
          }
        ]
      }
    </script>
  </head>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-P2F20W9MQW"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-P2F20W9MQW");
  </script>

  <body>
    <div id="circle"></div>

    <!-- NAVIGATION -->
    <header class="navbar">
      <div class="nav-container">
        <div class="logo">DV <br />NS</div>
        <button
          class="nav-toggle"
          id="nav-toggle"
          aria-label="Toggle Navigation"
        >
          &#9776;
        </button>
      </div>
      <nav class="nav-links" id="nav-links">
        <div class="link-container">
          <a href="{{ '/' | absolute_url }}" id="home-nav">home</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#about' | absolute_url }}" id="about-nav">about</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#case-studies' | absolute_url }}" id="case-studies-nav"
            >case studies</a
          >
        </div>
        <div class="link-container nav-item" id="solutions-item">
          <a href="{{ '/#solutions' | absolute_url }}" id="solutions-nav">
            solutions
            <span class="arrow">▼</span>
          </a>
          <div class="dropdown">
            <a href="/web-design">web design</a>
            <a href="/web-development">web development</a>
            <a href="/seo">seo services</a>
            <a href="/ecommerce-solutions">ecommerce solutions</a>
            <a href="/advertising">advertising</a>
            <a href="/website-maintenance">website maintenance</a>
          </div>
        </div>
        <div class="link-container">
          <a href="{{ '/#blog' | absolute_url }}" id="blog-nav">blog</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#pricing' | absolute_url }}" id="pricing-nav"
            >pricing</a
          >
        </div>
        <div class="link-container nav-item" id="locations-item">
          <a
            href="{{ '/san-diego-web-agency' | absolute_url }}"
            id="locations-nav"
          >
            locations
            <span class="arrow">▼</span>
          </a>
          <div class="dropdown dropdown-locations">
            {% for location in site.locations %} {% if location.id_name and
            location.id_name | strip != '' %}
            <a href="{{ location.permalink }}" id="{{ location.id_name }}">
              {{ location.city }}
            </a>
            {% else %}
            <a href="{{ location.permalink }}">{{ location.city }}</a>
            {% endif %} {% endfor %}
          </div>
        </div>
        <div class="hero-center">
          <a href="#contact" class="contact-btn bright" id="scroll-to-contact">
            <span>get started</span>
          </a>
        </div>
      </nav>
    </header>

    <!-- HERO SECTION -->
    <section class="hero" id="top">
      <div class="hero-overlay">
        <h1>welcome to <span class="hero-h1-span"> our blog</span></h1>
        <span id="dictionary">web a‧gen‧cy /web ˈeɪ.dʒən.si/</span>

        <div class="hero-grid">
          <div class="hero-left">
            <p>
              Crafting websites that awe, inspire, and connect.<br />
              We build for
              <span class="hero-span-wrapper">
                <span class="hero-span" id="hero-span"></span>
              </span>
            </p>
          </div>

          <div class="hero-center">
            <a href="#contact" class="contact-btn" id="scroll-to-contact"
              ><span>Contact</span></a
            >
          </div>

          <div class="location-container">
            <div class="hero-right">
              <div class="custom-list-item">
                <div class="asterisk">*</div>
                <div class="text-content">
                  Veteran-owned and operating<br />
                  out of San Diego, CA.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--BLOG SECTION-->
    <section class="insights-section" id="blog">
      <div class="insights-container">
        <h2 class="insights-title">
          <span class="line-one">Insights about</span><br />
          <span class="line-two">design &amp; web development</span>
        </h2>
        <div class="view-all-container">
          <a href="/blog" class="view-all-btn">View all blogs</a>
        </div>

        <div class="blog-posts">
          {% assign latest_posts = site.posts | sort: 'date' | reverse %} {% for
          post in latest_posts %}

          <article
            class="blog-post"
            data-bg="{{ post.image | default: '/public/background.png' }}"
          >
            <a href="{{ post.url | relative_url }}" class="blog-post-link">
              {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}" />
              {% else %}
              <img
                src="/public/background.png"
                alt="Default blog image"
                loading="lazy"
              />
              {% endif %}
              <div class="blog-content">
                <h3 class="blog-title">{{ post.title }}</h3>
                <p class="blog-description">
                  {{ post.excerpt | strip_html | truncatewords: 15 }}
                </p>
                <div class="blog-meta">
                  <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%B %d, %Y" }}
                  </time>
                  <span class="reading-time"
                    >• {{ post.readTime }} min read</span
                  >
                </div>
              </div>
            </a>
          </article>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-top">
          <div class="footer-brand">
            <h2 class="footer-logo">DEVONUS</h2>
            <p class="footer-subtitle">web agency</p>
            <p class="footer-desc">
              Crafting websites that awe, inspire, and connect.
            </p>
          </div>
          <div class="footer-links">
            <div class="footer-column">
              <h3>Solutions</h3>
              <ul>
                <li><a href="/web-development">Web Development</a></li>
                <li><a href="/website-maintenance">Site Maintenance </a></li>
                <li><a href="/web-design">Web Design</a></li>
                <li><a href="/seo">SEO Services</a></li>
                <li><a href="/advertising">Advertising</a></li>
                <li><a href="/ecommerce-solutions">Ecommerce </a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Pages</h3>
              <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/coming-soon">Press</a></li>
                <li><a href="/san-diego-web-agency">Cities</a></li>
                <li><a href="/coming-soon">Media Kit</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Contact</h3>
              <ul>
                <li><a href="#">hello@devonus.com</a></li>
                <li><a href="#">+1 (619) 796-1078</a></li>
                <li><a href="#">San Diego,</a></li>
                <li><a href="#">California</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="footer-copy">© 2025 DEVONUS</p>
          <div class="footer-policies">
            <a href="#">Privacy Policy</a>
            <span>·</span>
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </footer>
    <button id="darkModeToggle">Toggle Dark Mode</button>

    <script src="{{ '/styles/index.js' | relative_url }}"></script>
  </body>
</html>
