<!DOCTYPE html>
<html
  lang="en"
  class="bg-[radial-gradient(circle_at_top_left,_#242424,_#1a1a1a)]"
>
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title | default: site.title }} | Devonus</title>

    <!-- Canonical URL -->
    {% assign canonical_url = site.url %} {% if page.url %} {% assign
    canonical_url = site.url | append: page.url %} {% elsif page.title %} {%
    assign canonical_url = site.url | append: '/blog/' | append: page.title |
    slugify | append: '/' %} {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Meta Description -->
    <meta
      name="description"
      content="{{ page.page_description | default: site.description }}"
    />
    <meta
      name="keywords"
      content="{{ page.keywords | default: site.keywords }}"
    />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content="{{ page.title | default: site.title }} | Devonus"
    />
    <meta
      property="og:description"
      content="{{ page.page_description | default: site.description }}"
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta
      property="og:image"
      content="{% if page.image %}{{ page.image }}{% else %}{{ site.url }}/devonus_logo.png{% endif %}"
    />

    <meta property="og:site_name" content="Devonus Web Agency" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@devonus" />
    <meta name="twitter:creator" content="@devonus" />
    <meta
      name="twitter:title"
      content="{{ page.title | default: site.title }} | Devonus"
    />
    <meta
      name="twitter:description"
      content="{{ page.page_description | default: site.description }}"
    />
    <meta
      name="twitter:image"
      content="{{ page.image | default: site.url | append: '/devonus_logo.png' }}"
    />

    <!-- Favicon / Apple Touch Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ page.image | default: site.url | append: '/devonus_logo.png' }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ page.image | default: site.url | append: '/devonus_logo.png' }}"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/blog.css" />
    <link rel="stylesheet" href="/styles/post.css" />
    <link rel="stylesheet" href="/styles/locations.css" />
  </head>

  <body>
    <div id="circle"></div>

    <!-- NAVIGATION -->
    <header class="navbar">
      <div class="nav-container">
        <div class="logo">DV <br />NS</div>
        <button
          class="nav-toggle"
          id="nav-toggle"
          aria-label="Toggle Navigation"
        >
          &#9776;
        </button>
      </div>
      <nav class="nav-links" id="nav-links">
        <div class="link-container">
          <a href="{{ '/' | absolute_url }}" id="home-nav">home</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#about' | absolute_url }}" id="about-nav">about</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#case-studies' | absolute_url }}" id="case-studies-nav"
            >case studies</a
          >
        </div>
        <div class="link-container nav-item" id="solutions-item">
          <a href="{{ '/#solutions' | absolute_url }}" id="solutions-nav">
            solutions
            <span class="arrow">▼</span>
          </a>
          <div class="dropdown">
            <a href="/web-design">web design</a>
            <a href="/web-development">web development</a>
            <a href="/seo">seo services</a>
            <a href="/ecommerce-solutions">ecommerce solutions</a>
            <a href="/advertising">advertising</a>
            <a href="/website-maintenance">website maintenance</a>
          </div>
        </div>
        <div class="link-container">
          <a href="{{ '/#blog' | absolute_url }}" id="blog-nav">blog</a>
        </div>
        <div class="link-container">
          <a href="{{ '/#pricing' | absolute_url }}" id="pricing-nav"
            >pricing</a
          >
        </div>
        <div class="link-container nav-item" id="locations-item">
          <a
            href="{{ '/san-diego-web-agency' | absolute_url }}"
            id="locations-nav"
          >
            locations
            <span class="arrow">▼</span>
          </a>
          <div class="dropdown dropdown-locations">
            {% for location in site.locations %} {% if location.id_name and
            location.id_name | strip != '' %}
            <a href="{{ location.permalink }}" id="{{ location.id_name }}">
              {{ location.city }}
            </a>
            {% else %}
            <a href="{{ location.permalink }}">{{ location.city }}</a>
            {% endif %} {% endfor %}
          </div>
        </div>
        <div class="hero-center">
          <a href="#contact" class="contact-btn bright" id="scroll-to-contact">
            <span>get started</span>
          </a>
        </div>
      </nav>
    </header>

    <section
      class="hero"
      id="top"
      style="--background-image: url('{{ page.main_image }}');"
    >
      <div class="hero-overlay">
        <h1>{{page.title}}</h1>
        <span id="dictionary">{{page.dictionary}}</span>

        <div class="hero-grid">
          <div class="hero-left">
            <p>{{page.page_description}}</p>
          </div>

          <div class="hero-center">
            <a href="#contact" class="contact-btn" id="scroll-to-contact"
              ><span>Contact</span></a
            >
          </div>

          <div class="location-container">
            <div class="hero-right">
              <div class="custom-list-item">
                <div class="asterisk">*</div>
                <div class="text-content">
                  See how we can assist you<br />
                  in {{page.location}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="project-hero-section">
      <div class="project-hero-container">
        <h2 class="project-title">{{page.project_title}}</h2>
        <p class="project-description">{{page.content}}</p>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_1_title}}</h3>
          <p class="service-block-description">{{page.box_1_description}}</p>
        </div>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_2_title}}</h3>
          <p class="service-block-description">{{page.box_2_description}}</p>
        </div>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_3_title}}</h3>
          <p class="service-block-description">{{page.box_3_description}}</p>
        </div>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_4_title}}</h3>
          <p class="service-block-description">{{page.box_4_description}}</p>
        </div>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_5_title}}</h3>
          <p class="service-block-description">{{page.box_5_description}}</p>
        </div>

        <div class="service-block">
          <h3 class="service-block-title">{{page.box_6_title}}</h3>
          <p class="service-block-description">{{page.box_6_description}}</p>
        </div>
      </div>
    </section>

    <div class="cities-section">
      <h2 class="cities-title">Proudly Serving These Cities</h2>
      <div class="cities-grid-container">
        {% for location in site.locations %}
        <div
          class="city-card"
          style="--city-image: url('{{ location.main_image }}');"
        >
          <a href="{{ location.url }}" class="city-card-link">
            <span class="city-card-text">{{ location.city }}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-top">
          <div class="footer-brand">
            <h2 class="footer-logo">DEVONUS</h2>
            <p class="footer-subtitle">web agency</p>
            <p class="footer-desc">
              Crafting websites that awe, inspire, and connect.
            </p>
          </div>
          <div class="footer-links">
            <div class="footer-column">
              <h3>Solutions</h3>
              <ul>
                <li><a href="/web-development">Web Development</a></li>
                <li><a href="/website-maintenance">Site Maintenance </a></li>
                <li><a href="/web-design">Web Design</a></li>
                <li><a href="/seo">SEO Services</a></li>
                <li><a href="/advertising">Advertising</a></li>
                <li><a href="/ecommerce-solutions">Ecommerce </a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Pages</h3>
              <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/coming-soon">Press</a></li>
                <li><a href="/san-diego-web-agency">Cities</a></li>
                <li><a href="/coming-soon">Media Kit</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Contact</h3>
              <ul>
                <li><a href="#">hello@devonus.com</a></li>
                <li><a href="#">+1 (619) 796-1078</a></li>
                <li><a href="#">San Diego,</a></li>
                <li><a href="#">California</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="footer-copy">© 2025 DEVONUS</p>
          <div class="footer-policies">
            <a href="#">Privacy Policy</a>
            <span>·</span>
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </footer>
    <button id="darkModeToggle">Toggle Dark Mode</button>

    <script src="{{ '/styles/index.js' | relative_url }}"></script>
  </body>
</html>
